.card {
  border: 2px solid dimgrey;
  color:white;
  max-width: 220px;
  margin-right: 20px;
  margin-bottom:20px;
  border-radius: 12px;
  background: rgb(37,42,49);


.card__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgb(63, 69, 69);
  opacity: 0.7;
  width: 100%;


}
  .card__title {
    border-bottom: 1px solid grey;
    font-size:16px;
    height:50px;
  }
  .card__wrap {
    display: flex;
    margin: 5px ;
    justify-content: space-around;
    font-weight: normal;
    text-align: center;
    align-items: center;

  }
  .card__for {
    color:grey;
  }
}

.content {
  //display: grid;
  //grid-template-columns: repeat(auto-fit, 220px);
  //row-gap: 25px;
  //column-gap: 35px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:120px;
}
.card_add {
  border:2px solid rgba(160, 160, 160, 0.26);

  border-radius:10px;
}
.card_add:hover {
  cursor:pointer;
  border-color: grey;
}

.card__text {
  display:flex;
  flex-direction: column;
  justify-items: flex-start;

}