.root {
  color: white;
  margin: 30px auto;
  width: 70%;
  display:flex;
  flex-direction: column;
  min-height: 100vh;


}
.clear {
  margin-left:10px;
  font-weight:normal;

  opacity: 0.3;
}
.upperline {
  display: flex;
  justify-content: space-between;

}

.left {
  display:flex;

  align-items: center;
}
.left {
  cursor:pointer;
}

.items {
  margin-top:30px
}

.item {
  border: 2px solid grey;
  margin:5px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  border-radius:10px;
}
.img {



}
.name {
  margin-left: 5px;
  margin-right:5px;
  font-weight: normal;
}
.amount {
  margin: 0 5px;
}
.price {
  margin-left: 5px;
}

.change {
  display:flex;
  align-items: center
}
.total {
  display:flex;
  justify-content: center;
  justify-self: flex-end;

  height:80px;

}

.wrap {
  display:flex;
  flex-direction:column;

  justify-content: space-between;
  height:100%;
}

.full {
  min-height:100vh;
  color:white;
  font-size:48px;
}

@media screen and (max-width: 580px) {
  .item
{
  flex-direction: column;
    font-size:14px;
}


}
