ul,li ,h1,h2,h3,h4,h5, p{
  margin:0;
  padding:0;
}
.categories {
  display:flex;
  color:white;
  margin-bottom:10px;

  background-color: rgb(37,42,49);

  border-radius: 20px;
  font-size: 24px;
  .categories:hover {
    cursor:pointer;

  }
  .categories__title {

    padding: 5px;
    text-align: center;
    font-weight: normal;
    margin: 7px;
    list-style-type: none;
  }.categories__title:hover {
    cursor: pointer;
       background: gray;
       border-radius: 20px;
     }
  .active {
    background-color: #626262;
    border-radius: 20px;
    padding: 5px;
    margin: 7px;
  }
}