h1,h2,h3,h4,h5,p,li {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    margin: 0;
    background:  rgb(24,26,32) ;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#043d49",GradientType=1);
    height:100vh;
    font-family: 'Nunito';
}

#light {
    background: grey;
}

#dark {
    background:  rgb(24,26,32) ;
}
#dark label {
    color:white;
}
